body {
  padding-top: 60px;
  padding-bottom: 20px;
}

#google-login {
  height: 18px;
}

#weather-topic {
  font-size: 1.4em;
}

.weather {
  display: inline-block;
  width: 80px;
  margin: 20px;
}

.weather div {
  text-align: center;
}

#register-form, #login-form input {
  max-width: 400px;
}